
<div class="container mt-3">
  <h1>Stupid Coaching</h1>
      <div id="emailHelp" class="form-text">Ask your coach anything.</div>
  <form action="/answer" data-turbo="false">
    <div class="input-group mb-3">
      <input type="text" name="question" class="form-control" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Ask</button>
      </div>
    </div>
  </form>
</div>
